canvas
{
    border: 10px solid orange;
    border-radius: 10px;
}
.person
{
background-color: hotpink;
color: white;
border-radius: 10px;
width: 30%;
height: 40px;
font-size: 20px;
text-align: center;
}
.heading
{
    width: 50%;
    height: 60px; 
    font-size: 25px;
}
.head_label
{
    width: 40%;
    height: 80px;
    font-size: 20px;
}